{% extends 'base.html' %} {% block head %} <title>Update Task</title> {%
endblock %} {% block body %}
<div class="container pt-5">
  <h1>Task Master</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Update Task</h5>
      <form action="/update/{{task.id}}" method="POST">
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <input
            type="text"
            name="content"
            id="content"
            class="form-control"
            value="{{task.content}}"
          />
        </div>
        <input type="submit" class="btn btn-primary" value="Update Task" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
